<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem vindo ao Blog Overflow</h1>
  <p class="lead">Apenas um blog feito com Javascript e um pouco de handlebars, apreciem as minhas postagens :)</p>
  <hr class="my-4">
  {{#if user}}
  {{else}}
  <p>Se você quiser criar uma conta ou fazer login bastar clicar nas opções abaixo</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
  <a class="btn btn-primary btn-lg" href="/usuarios/login" role="button">Entre na sua conta</a>
  {{/if}}
</div>

<hr>


<h2>Postagens recentes</h2>

{{#each postagens}}
<div class="card">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>{{categoria.nome}}</small><br>
        <small>Data de Publicação: {{data}}</small>
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}